body {
    /* Updated background for better visibility */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url('anime-background.jpg');
    background-size: cover;
}

section {
    background: rgba(255, 255, 255, 0.8);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

#featured-anime, #anime-character-showcase {
    text-align: center;
}
main {
    background-image: url('ainz-ooal-gown-overload-anime-4k-c8-1366x768');
    background-size: cover; /* This ensures the image covers the entire area */
    background-repeat: no-repeat; /* This prevents the image from repeating */
}
header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.search-container input[type=text] {
    padding: 5px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
